.TechStackContainer {
  text-align: center;
}
.Heading {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.753);
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: #9f15fa;
  text-decoration-color: #9f15fa;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container h3 {
  width: 100%;
  color: #dfaeff;
}
.logos {
  background: #9853c5a6;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
  width: 250px;
  height: 175px;
  box-shadow: 4px 4px 1px 0px #d595ff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.stackName {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: aliceblue;
}

.stackName:hover .logoName {
  display: table-cell;
}

.stackName:hover {
  background-color: rgba(0, 0, 0, 0.89);
}

.logoName {
  display: none;
  vertical-align: middle;
  font-size: 2em;
  text-align: center;
}

.logoName > i {
  margin: 0;
  display: block;
}

.logos .logo {
  position: absolute;
  height: 70%;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.langLink {
  background-image: url("../../images/link.svg");
  background-size: 100%;
}

.stackName:hover + .logo {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .Heading {
    font-size: 1.5em;
  }
  .container h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .stackName {
    height: 20%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.89);
  }
  .logoName {
    display: table-cell;
    font-size: 1em;
  }
  .logos {
    box-shadow: 2px 2px 2px 0px #d595ff;
  }
}
