.DocumentBody {
  margin: 0 auto;
  text-align: center;
  width: 700px;
  display: table;
  padding: 10px;
  overflow: hidden;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 700px) {
  .DocumentBody {
    width: auto;
  }
}
